@import '@scss/theme';

.toolbar {
    @include d-flex($justifyContent: space-between);

    background-color: $dark-white;
    border-radius: 10px;
    
    @include breakpoint(md) {
        font-size: 18px;
    }
    @include breakpoint(lg) {
        font-size: 24px;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

.value {
    display: inline-block;
    background-color: $secondary;
    color: $dark-white;
    padding: 4px;
    border-radius: 4px;

}

.label {
    display: none;

    @include breakpoint(md) {
        display: inline-block;
    }
}

.icon {
    
    @include breakpoint(md) {
        display: none;
    }
}