@import '@scss/theme';

.root {
    background-color: $primary;
    height: 100vh;
    padding: 30px 10px
}

.body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

    @include breakpoint(lg) {
        grid-template-columns: 1fr 300px;
    }
}

.area {
    display: grid;

    height: 100%;
    gap: 10px;
    background-color: $dark-white;
    border-radius: 10px;

    // @include breakpoint(xs) {
    //     grid-template-columns: repeat(3, 1fr);
    // }
    // @include breakpoint(md) {
    //     grid-template-columns: repeat(4, 1fr);
    // }
}

.reload {
    @include d-flex($justifyContent: space-between);

    background-color: $primary;
    padding: 8px 24px;
    border-radius: 24px;
    color: $dark-white;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;

    @include button-hover;
}

.icon {
    margin-left: 12px;
}
