@import "@scss/theme";
$card-transition: transform 0.3s linear, background-color 0.3s ease-in-out;
$secondary-bg-default: rgba(3, 26, 85, 0.9);

.card {
    position: relative;
    transform-style: preserve-3d;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: $card-transition;
}

.side {
    @include d-flex;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backface-visibility: hidden;
    background-color: $secondary-bg-default;
    font-size: 48px;
    color: $dark-white;
    text-transform: uppercase;
}

.front {
    transform: rotateY(0);
    transition: $card-transition;
}

.back {
    transform: rotateY(180deg);
    transition: $card-transition;
    backface-visibility: hidden;
}

.card:hover {
    transform: scale(1.03);
    transition: $card-transition;

    .side {
        background-color: $secondary;
    }
}

.card.active {
    .front {
        transform: rotateY(-180deg);
        transition: $card-transition;
    }

    .back {
        transform: rotateY(0deg);
        transition: $card-transition;
    }
}

.card.correct {
    border: 2px dashed $secondary;
    pointer-events: none;

    .side {
        animation: card-correct-animation 0.3s ease-in-out forwards;
    }

    .front {
        transform: rotateY(0);
        transition: $card-transition;
    }
    .back {
        transform: rotateY(180deg);
        transition: $card-transition;
    }
}

@keyframes card-correct-animation {
    from { opacity: 1; }
    to { opacity: 0; }
}
