@import "variables.scss";

@mixin d-flex($display: flex, $alignItems: center, $justifyContent: center) {
    display: $display;
    align-items: $alignItems;
    justify-content: $justifyContent;
}

@mixin button-hover($hoverBg: $button-color, $hoverTextColor: $white) {
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: $hoverBg;
        color: hoverTextColor;
    }
}

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;

@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @content;
  }
}
